body {
    font-family: Arial, sans-serif;
    height: auto;
    background-color: #ebebeb;
    
}
h3,h4,h5,h6
{   
    width: 35vb;
    height: 100px;
    padding: 10px 0px 5px 5px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #211184;
    padding: 10px 0;
}

nav a {
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #4122d7;
    padding: 20px;
    border-radius: 4px;    
}
p{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
header a {
    color: white;
    text-decoration: none;
}
.imgheader {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.imgheader::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, #f4f4f4, transparent);
}
/*Inicio Cabecera, logo, barra de inicio, menu*/
.header {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000030;
    color: white;
}

.header-logo img {
    height: 50px;
}

.header-search {
    display: flex;
    align-items: center;
    width: auto;
}

.header-search input {
    padding: 10px;
    width: 140vh;
    border: none;
    border-radius: 4px;
    height: 100%;
    text-align: center;
}

.header-search button:hover {
    padding: 11px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #4122d7;
    cursor: pointer;
    margin: 10px;
}

.header-search button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #311aae;
    cursor: pointer;
    margin: 10px;
}
/* FIN Inicio Cabecera, logo, barra de inicio, menu*/
/*Carrusel de Cabecera, Imagenes que se muestran al inicio*/
.carousel-header {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-image {
    min-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    list-style-position: outside;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #211184;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}
.carousel-btn:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4122d7;
    color: white;
    border: 10px;
    padding: 20px;
    cursor: pointer;
    z-index: 1000;
}
.prev {
    left: 10px;
    padding: 20px;
    border-radius: 25px;
}

.next {
    right: 10px;
    padding: 20px;
    border-radius: 25px;
}
/* FIN Carrusel de Cabecera, Imagenes que se muestran al inicio*/

 /*Amazon logo */
.amazon-logo{
    position:absolute;
    max-width: 60px;
    padding-top: 6px;
    padding-left: 5px;
    left: 5px;
    height: auto;
}
/* Logo de Amazon en los productos del carrusel */
.carousel-title {
    text-align: center;
    margin: 20px 0;
	font-size: 24px;
    margin-bottom: 20px;
    height: 100%;
}
.carousel-box {
    border: 5px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    background-color: white;
}

.carousel {
    width: 80%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ecebeb;
}
.carousel-item {
    min-width: 220px;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative; /* Añadido para posicionar el logo */
}

.carousel-item img {
    /* max-width: 100%;*/
    width: 150px;
    height: auto;
    border-radius: 5px;
    
}

.carousel-item-title {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.carousel-item-price {
    font-size: 16px;
    color: #b12704;    
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #131A22;
    color: #1e90ff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-button:hover {
    background-color: #444;
}

.carousel-button.left {
    left: 0;
}

.carousel-button.right {
    right: 0;
}

/*Carrusel*/
.categories {
    padding: 20px;
    border-width: 3px;
    border-color: rgb(203, 203, 203);
    border-style:solid;    
}
/*Boton de ver producto del carrusel*/
.modern-button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #444;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modern-button:hover {
    background-position: right center;
    background: linear-gradient(45deg, #1e90ff, #00bfff, #1e90ff);
    /*color: #fff;*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modern-button::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 50px;
    background: linear-gradient(45deg, #ff4e50, #fc913a, #f9d423, #ede574, #e1f5c4);
    background-size: 200% 200%;
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
    animation: borderAnimation 5s infinite linear;
}

.modern-button:hover::before {
    opacity: 1;
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*boton moderno fin*/


.category-box {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    width: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.category-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration-color: #37475a;
    min-width: 150px;
    max-width: 250px;
    flex: 0 0 20%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 10px;

    
    
}
.category-item:hover {
    transform: scale(1.0);
    border-color: #00bfff #1e90ff #131A22;
    

}
.category-item img {
    max-height: 311.50px;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    transition: transform 0.3s;
    mask-image: linear-gradient(black 95%, transparent);
}

.category-item:hover img {
    transform: scale(1.1);
}
.category-item h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}
.category-item p {
    transition: color 0.3s;
}
.category-item .shipping {
    font-size: 14px;
    color: #27ae60;
    margin: 5px 0;
    padding-top: 10px;
    
}
.category-item .description {
    font-size: 18px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 350px;
}

.category-item:hover p {
    color: #00bfff;
}
.price {
    font-size: 30px;
    color: #333;
    margin: 5px 0;
    padding-top: 30px;

}
.enviospf{
    font-size:18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 110px;
    color: #43BD7E;
    text-align: center;
    

}
.category-box {
    position: relative;
}
.amazon-logo {
    position:absolute;    
    top: 10px;
    left: 10px;
    width: 5px;
    height: auto;
}
.container_ {
    padding-left: 28px;
    width: 100%;
    max-width: 800px;
}

.container_ h3{
    text-align: center;
    color: #00bfff;
}

.offers {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.offer-item {
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
}

.offer-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.offer-item img {
    width:350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.offer-item h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-search {
        width: 100%;
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .category-box {
        flex-direction: column;
    }

    .category-item {
        flex: 1 1 100%;
    }
    .container_{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .header-search input {
        width: calc(100% - 60px);
    }
}